posts: [
    Post(
        id: "an-example-title",
        title: "an example title",
        description: "an abstract",
        date: 1
    ),
    Post(
        id: "an-example-title",
        title: "an example title",
        description: "an abstract",
        date: 1
    ),
    Post(
        id: "an-example-title",
        title: "an example title",
        description: "an abstract",
        date: 1
    )
]