<< extends "base.html" >>
<< block title >>contact<< endblock >>
<< block content >>
<main class="w-full p-4 flex justify-center place-items-center">
    <div class="max-w-prose flex flex-col gap-4 font-mono text-tasman-200">
        <h1 class="text-xl font-semibold">Contact</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repellat deleniti placeat et aperiam ducimus? Similique, eum eveniet tempore natus nostrum suscipit ad sunt mollitia repudiandae, illum asperiores molestiae aliquam earum, qui sit velit. Aspernatur repellat blanditiis earum maiores ipsam ullam sit incidunt quos temporibus velit, voluptatum accusantium esse ab?</p>
    </div>
</main>
<< endblock >>
