<nav id="navbar" class="font-mono relative w-full h-14 bg-tasman-950 flex text-tasman-200 p-4 shadow-xl">
    <h1 class="float-start  text-xl font-semibold">crease.sh</h1>
    <ul class="ml-auto flex gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/contact">Contact & Links</a></li>
    </ul>
</nav>
<style>
    #navbar::after {
        content:'';
        inset: 0;
        position: absolute;
        mix-blend-mode: overlay;
        background-size: cover;
        background-image: url("/assets/images/leaves.webp");
        pointer-events: none;
    }

    #navbar > * > li {
        transition: color 200ms ease-in-out;
        cursor: pointer;
    }
    #navbar > * > li:hover {    
        color:#f67441;
    }
</style>